{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
            <div class="jumbotron">
                <h2>Oops, we can't find that</h2>
                <p class="text-right">404 error, try a <a href="/random">random game</a>?</p>
                <p class="text-right">Or do you want to try <a href="/search">Searching for a game?</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}